body {
    background-color: lightgrey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    padding-top: 100px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons {
    display: flex;
    justify-content: center;

}

button {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    margin: 0 .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: rgb(123, 5, 241);
    opacity: 0.7;
}

#paper {
    background-color: blue;
}

#scissors {
    background-color: green;
}

#rock {
    background-color: red;
}

#user-score {
    color: blue;
}

#computer-score {
    color: red;
}